.colorInfoDisplay{
    display: grid;
    row-gap: .2rem;

    grid-template-columns: 1fr;

    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar{
        display: none;
    }

    -ms-overflow-style: none;
      scrollbar-width: none;

      @media screen and (max-width: 710px) {
          row-gap: 1px;
      }

}