.colorInfo{
    height: 5.4rem;

    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 55px;
    grid-template-columns: 13.2% 19.7% repeat(4, 16.6%);
    column-gap: 1px;
  }