.colorType__label{
    font-family: 'Lato Regular', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;

    letter-spacing: 0.01em;

    color: var(--smoky_white);
}

.colorType__select{
    border-radius: .6rem;

    box-sizing: border-box;
    padding: 1rem 1.5rem;

    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;

    font-family: 'Lato Regular', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;

    letter-spacing: 0.01em;

    color: var(--smoky_white);

    border: 1px solid #5F5F5F;
    outline: none;
    background-color: #424242;

    min-width: 17.5rem;
    max-width: 17.5rem;

}