.custom-select{
    $this: &;
    position: relative;
    min-width: 17.5rem;
    max-width: 17.5rem;

    border-radius: .6rem;

    box-sizing: border-box;
    padding: 1rem 0 1rem 1.5rem;

    cursor: pointer;

    font-family: 'Lato Regular', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;

    letter-spacing: 0.01em;

    color: var(--smoky_white);

    border: 1px solid #5F5F5F;
    outline: none;
    background-color: #424242;

    @media screen and (max-width: 710px) {
      max-width: 100%;
      flex-basis: 50%;
    }


    &--open{
      #{$this}__panel{
        max-height: 30rem;
        overflow-y: auto;
        overflow-x: hidden;
        border-left: 1px solid #5F5F5F;
        border-bottom: 1px solid #5F5F5F;
        border-right: 1px solid #5F5F5F;
        border-top: none;

        background-color: #424242;
        border-radius: 0 0 .6rem .6rem;

        &::-webkit-scrollbar{
            display: none;
        }
    
        -ms-overflow-style: none;
          scrollbar-width: none;
      }
    }
    &--placeholder{
      #{$this}__opener{
        color: rgba(#000, .5);
      }
    }
    select{
      position: absolute;
      visibility: hidden;
      opacity: 0;

      box-sizing: border-box;
      padding: 0;
      left: 0;
      right: 1px;
      margin: 0;
    }
    &__panel{
      position: absolute;
      z-index: 2000;
      left: -1px;
      right: 1px;
      top: 93%;
      margin: 0;
      box-sizing: border-box;
      width: 101%;
      max-height: 0;
      overflow: hidden;
      border-width: 0;
      &--above{
        top: auto;
        bottom: 100%;
      }
    }
    &__panel-item{
      input{
        width: 100%;
        height: 30px;
        padding: 5px;
        font-size: inherit;
        color: inherit;
        font-family: inherit;
      }
    }
    &__opener{
      padding: 0 1.5rem 0 0;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        width: 8px;
        height: 8px;
        border-left: 1px solid currentColor;
        border-bottom: 1px solid currentColor;
        transform: translate(0, -50%) rotate(-45deg);
        pointer-events: none;
      }
    }
    &__opener-label{
      button{
        display: inline-block;
        width: 15px;
        height: 15px;
      }
    }
    &__option{
      padding: 1.2rem;
      box-sizing: border-box;
      color: #8D8D8D;
      position: relative;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      label{
        display: block;
        padding: 10px;
      }
      &:hover, &--selected{
        background-color: #505050;
        color: var(--smoky_white);
      }
      &[data-value="placeholder"]{
        display: none;
      }
    }
    &__option-icon{
      width: 1em;
      height: 1em;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5em;
    }
    &__options{
      max-height: 250px;
      overflow: auto;
    }
    &__optgroup{
      &::before{
        content: attr(data-label);
        display: block;
        padding: 5px;
        font-weight: 700;
      }
    }
  }
  