@font-face {
	font-family: "Lato Regular";
	src: url("../fonts/lato-regular.eot");
	src: url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato-regular.otf") format("opentype"),
		url("../fonts/lato-regular.ttf") format("truetype"),
		url("../fonts/lato-regular.woff") format("woff"),
		url("../fonts/lato-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}