.panelOfAddingColors {
	position: absolute;
	right: 2rem;
	top: 2rem;

	z-index: 1000;

	box-sizing: border-box;

	width: 32rem;
	min-height: 64.5rem;

	transform: scale(0);
	transform-origin: bottom left;

	background-color: var(--dark_grey);

	border-radius: 2rem;

	display: flex;
	flex-direction: column;

	align-items: center;

	border: 2px solid #000;

	padding: 2rem 1.5rem 1.4rem;

	@media screen and (min-width: 710px) {
		transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
	}

	@media screen and (max-width: 710px) {
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		min-height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;

		width: 100%;

		border-radius: 2rem 2rem 0 0;

	}
}

.panelOfAddingColors_visible{
	transform: scale(1);
}

.button_blue{
	background-color: var(--azur_blue);
}

.colorName__wrap, .colorType__wrap{
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: space-between;

	width: 100%;
}

.colorName__wrap{
	margin-bottom: 1.7rem;
}

.colorPicker{
	margin: 3.2rem 0 1.8rem;
	width: 100%;
}

.easylogic-colorpicker{
	width: 100%;

	background-color: #424242;

	border-radius: .4rem;

	border: 1px solid #5B5B5B;

	box-sizing: border-box;
}

.easylogic-colorpicker.sketch > .colorpicker-body > .color{
	height: 21.5rem;
}

.closePanelButton{
	cursor: pointer;

	--size: 2rem;
	width: var(--size);
	height: var(--size);

	position: absolute;
	top: 2rem;
	right: 1.5rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.easylogic-colorpicker .colorpicker-body .colorsets > .color-list .add-color-item{
	display: none;
}