.tableOfColors{
    background-color: var(--dark_grey);

    --width: 68rem;

    max-width: var(--width);
    min-width: var(--width);

    min-height: max-content;

    border-radius: 2rem;

    box-sizing: border-box;
    padding: 2rem 1px 3.2rem;

    margin: 2rem;

    position: relative;

    @media screen and (max-width: 710px) {
        --width: 100%;
        margin: 0;
    }
}

.tableOfColors__heading{
    color: white;

    margin: 0 auto 2.5rem;

    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 500;

    text-align: center;
}

.tableOfColors__button{
    position: absolute;

    top: 2rem;
    right: 2rem;

    padding: 0;
    border: none;
    outline: none;

    background-color: transparent;

    cursor: pointer;

    svg{
        fill: rgb(141, 141, 141);
        
        --size: 2.5rem;

        width: var(--size);
        height: var(--size);

        transition: fill 0.3s ease-in-out;
    }

    &:hover{
        svg{
            fill: var(--azur_blue);
        }
    }
}

.tableOfColors__table{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);

    row-gap: 1px;

    box-sizing: border-box;
    padding: 0 1px;
}

.tableOfColors__filters{
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 55px;
    grid-template-columns: 13.2% 19.7% repeat(4, 16.6%);
    column-gap: 1px;

    @media screen and (max-width: 710px) {
        display: none;
    }

}

.tableOfColors__filterItem{
    background-color: var(--light_grey);
    height: 100%;

    color: white;

    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;
    padding: 1.5rem;

    span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.tableOfColors__colorItems{
    display: flex;
    flex-direction: column;

    margin-bottom: 3rem;
}