@import '@easylogic/colorpicker/dist/colorpicker.css';
@import 'fonts';

body{
    margin: 0;
}

:root{
    font-family: 'Lato Regular', sans-serif;
    font-size: 10px;

    --dark_grey: rgb(48, 48, 48);
    --light_grey: rgb(66, 66, 66);
    --smoky_white: rgb(191, 191, 191);
    --azur_blue: rgb(83, 203, 241);

    background-color: #000;

}

.wrap{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 64.5rem;
}

@import './panelOfAddingColors';
@import './colorInfoDispaly';
@import './tableOfColors';
@import './customSelect';
@import './colorOption';
@import './colorInfo';